{% extends "logged_in_base.html" %}


{% block page_title %}
    SimStim Struggle: Home
{% endblock %}


{% block body %}

<div class="container">
      <div class="row">
        <div class="span3 text-center">
          <img src="https://s3.amazonaws.com/makahiki_jtw/static/images/old-logo.png"
          class="img-rounded"> 
        </div>
        <div class="span6 text-center">
          <h1>SimStim Struggle</h1>
          <h4>The Hawaii Mission Training Complex Certification Game!</h4>
        </div>
        <div class="span3 text-center">
          <a href="{% url account_logout %}"><h4>Logout</h4></a> 
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12 pagination pagination-centered" style="background-color:tan;">
          <a href="../questions" class="btn sss-nav-btn btn-success btn-large">Five Questions</a>
          <a class="btn btn-success btn-large sss-nav-btn disabled">Challenges</a>
          <a class="btn btn-success btn-large sss-nav-btn disabled">Contribute</a>
          <a class="btn btn-success btn-large sss-nav-btn disabled">Scoreboard</a>
          <a class="btn btn-success btn-large sss-nav-btn disabled">Admin</a> 
        </div>
      </div>
    </div>
    
{% endblock %}



  
    
  
