{% extends "logo_bar_base.html" %}

{% load markup %}

{% block page_title %}
    Welcome to SimStim Struggle!
{% endblock %}
  
{% block content %}
    <div class="container">
      <div class="hero-unit hidden-phone">
        <table>
          <tbody>
            <tr>
              <td width="275">
                <img src="https://s3.amazonaws.com/makahiki_jtw/static/images/old-logo.png"
                class="img-rounded"> 
              </td>
              <td>
                <h1>SimStim Struggle</h1>
              </td>
            </tr>
          </tbody>
        </table>
        <p>The Hawaii Mission Training Complex Certification Game!</p>
        <hr>
        <table>
          <tbody>
            <tr>
              <td width="200px">
                <p>
                  <a class="btn btn-large btn-inverse disabled" href="#"><span class="btn-label">Sign Up Today!</span></a> 
                </p>
              </td>
              <td width="40px">
                <h4>Or</h4>
              </td>
              <td>
                <p>Already have an account? Log in ...</p>
                <form class="login form-inline" method="POST" action="{% url account_login %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                  <input id="id_username" name="username" type="text" class="input-small" placeholder="Username">
                  <input id="id_password" name="password" type="password" class="input-small" placeholder="Password">
                  <button type="submit" class="btn btn-success">Sign in</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="visible-phone">
        <p style="text-align:center;">
          <img src="https://s3.amazonaws.com/makahiki_jtw/static/images/old-logo.png"
          class="img-rounded"> 
        </p>
        <h1 style="text-align:center;">SimStim Struggle</h1>
        <a class="btn btn-block btn-inverse btn-large" href="#"><span class="btn-label">Sign Up Today!</span></a>
        <h4>Already have an account? Log in...</h4>
        <form class="login visible-phone form-inline" method="POST" action="{% url account_login %}">
            {% csrf_token %}
            {{ form.as_p }}
          <input type="text" class="input-small" placeholder="Username">
          <input type="password" class="input-small" placeholder="Password" style="">
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
      </div>
      <div class="row main-features">
        <div class="span4">
          <div class="well">
            <h3>Five Questions Game</h3>
            <p>Answer five questions each day related to your role at the MTC. Rise to
              the top of the scoreboard and be recognized!</p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Complete Challenges</h3>
            <p>Improve your skills by participating in challenges designed by subject
              matter experts across all disciplines</p>
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Contribute Content</h3>
            <p>No one knows your field better than you. Contribute questions and challenges
              in order to make cross-training easy.</p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}